body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    margin: 0;
    background-color: #ccc;
}

#game-board{
    background-color: hsl(0, 0%, 14%);

    width: 80vmin;
    height: 60vmin;

    display: grid;
    grid-template-columns: repeat(21, auto);
    grid-template-rows: repeat(21, auto);
}

#game-board.big-grid {
    grid-template-columns: repeat(31, auto);
    grid-template-rows: repeat(31, auto);
}

.snake{
    background-color: #6fc355;
}

.food{
    background-color: #d84242;
}

.entrance-message, .game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}

.final-score-message{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
}

.container{
    border: 8px solid black;
}

.gameborder{
    width: 10px;
    background-color: red;
}


#score {
    background-color: #d84242;
    width: 80vmin;
    height: 5vmin;
}

.buttons{
    background-color: #d84242;
    width: 80vmin;
    height: 5vmin;

    display: flex;
    justify-content: space-around;
}

.buttons button{
    height: 30px;
}