@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0;

    background: #d4e09b;

    font-family: "Rakkas", serif;
    font-style: normal;
    
    overflow: hidden;
}


/* Game Board */
#game-board {
    margin-left: 10vmin;
    background-color: none;
    width: min(60vmin, 60vh);
    height: min(60vmin, 60vh);

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border-left:3px solid #a3b18a;
    border-right:3px solid #a3b18a;
    border-radius: 1%;
    
    background: rgb(221,232,171);
    background: radial-gradient(circle, rgba(221,232,171,1) 91%, rgba(212,224,155,1) 99%);

    opacity: 1;
    
}

#game-board.big-grid {
    grid-template-columns: repeat(30, 1fr); 
    grid-template-rows: repeat(30, 1fr);
}

.gameborder{
    width: min(80vmin, 80vh);
    height: min(60vmin, 60vh);
    z-index: -1;

    background: rgb(52,78,65);
    background: linear-gradient(90deg, rgba(52,78,65,1) 9%, rgba(163,177,138,1) 14%,rgba(221,232,171,1) 28%, rgba(221,232,171,1) 74%, rgba(163,177,138,1) 88%, rgba(52,78,65,1) 91%);
}

.creditos {
    width: 20vmin;
    height: 30px;
    color: #a3b18a;
    font-size: larger;
    background-color: #344e41;
    border-top: 2px solid #1b4332;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    margin-left: 1px;
}


/* snake extra rulecont */
.rulecont {
    position: absolute;
    top: -43vmin;
    left: 5%;
    background-color: #3a5a40;
    width: 25vmin;
    height: 40vmin;
    z-index: 0;
    border: 10px solid #1b4332;
    border-radius: 25% 25% 4% 4%;
    transition: top 2s ease;
    /* animation: bounce 2s ease forwards;  */
}

@keyframes bounce {
    0% { top: -40vmin; }
    20% { top: 28%; } 
    40% { top: 22%; } 
    60% { top: 28%; } 
    80% { top: 24%; }
    100% { top: 25%; } 
}


.rulesshadow {
    position: relative;
    border: 10px solid #3a5a40;
    border-bottom: 1px solid #588157;
    border-radius: 20% 16% 4% 4%;
    height: 94%;
    z-index: 2;
    overflow-y: auto;
    background-color: #588157;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
}

/* CSS for scrollbar */
.rulesshadow::-webkit-scrollbar {
    display: none;
}

.corda {
    position: relative;
    left: 45%;
    height: 100%;
    width: 10%;
    margin-top: -160%;
    background-color: #7b5f48;
    clip-path: polygon(50% 0%, 80% 40%, 80% 100%, 20% 100%, 20% 40%);
    z-index: -1;
    background: linear-gradient(135deg, #7b5f48 25%, #9c795b 25%, #7b5f48 50%, #9c795b 50%, #7b5f48 75%, #9c795b 75%, #7b5f48 100%);
}

.talk{
    /* position: fixed; */
    height: 10%;
    text-align: center;
    background-color: #344e41;
    border-bottom: 5px solid #a3b18a;
    padding-top: 10px;
    z-index: 2;
}

.talk p{
    justify-content: center;
    margin: 0;
    color: #a3b18a;
    font-size: large;
}

.rules {
    margin-top: 2px;
    height: auto;
    background-color: #fefae0;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: -1;
}

.rules h2 {
    margin-top: 0;
}

/* .rules button{
    font-family: "Rakkas", serif;
    height: 30px;
    display: inline-block;
    padding: 0px 40px;
    margin: 0px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #588157;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: none;

    color: #a3b18a;
}

.rules button:hover{
    background-color: #b0c4b1;
    color: white;
}

.rules button.selected{
    background-color: #f9c74f;
    color: #fff;
} */

.rules p {
    font-size: 14px;
    margin: 14px;
    margin-bottom: 0;
    text-align: justify;
}

.rules span {
    font-size: 18px;
    text-decoration: underline;
    text-align: left;
}

.imgtest{
    position: relative;
    height: 40%;
    width: 40%;
    left: 30%;
    border: 1px solid red;
}

/* Snake and Food */
.snake {
    background: linear-gradient(
        45deg,
        #7b5f48 25%,
        #9c795b 25%,
        #7b5f48 75%, 
        #9c795b 75%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    animation: moveStripes 3s linear infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes moveStripes {
    0% { background-position: 0 0; }
    100% { background-position: 60px 60px; } 
}

.snake-tail{
    background: linear-gradient(
        45deg,
        #7b5f48 25%,
        #9c795b 25%,
        #7b5f48 75%, 
        #9c795b 75%
    );
    animation: moveStripes 3s linear infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    border-radius: 50% / 100% 100% 0 0;
}

.snake-head{
    background-image: url("Assets/Imgs/headdown.png");
    transform: rotate(0deg);
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: #7b5f48;
    border-radius: 50% / 0 0 100% 100%;
}


.food{
    background-image: url("Assets/Imgs/apple.png");
    width: 100%;
    height: 100%;
    background-size: 100%;
}

/* messages */
.entrance-message, .game-over-message, .final-score-message {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    color: #344e41;
    
    font-size: 80px;
}

.entrance-message p {
    margin-top: 285px;
    border-top: 2px solid #344e41;
}

.entrance-message img{
    position: absolute;
    width: 300px;
    margin-top: -200px;
    opacity: 80%;

}

.final-score-message{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: green;
    text-shadow: -1px -1px 0 #d4e09b,  
                  1px -1px 0 #d4e09b,
                 -1px  1px 0 #d4e09b,
                  1px  1px 0 #d4e09b;
}

.pressEnter{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #d84242;
    animation: flash 0.8s infinite alternate;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.highScores {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #344e41;
    text-shadow: -1px -1px 0 #d4e09b,  
                  1px -1px 0 #d4e09b,
                 -1px  1px 0 #d4e09b,
                  1px  1px 0 #d4e09b;
}



/* Atributos */

#top {
    position: relative;
    display: flex;
    background-color: #3a5a40;
    border-bottom: 10px solid #a3b18a;
    width: 80vmin;
    height: 5vmin;
    justify-content: space-between;
    flex-direction: end;
    text-align: end;

}
#score {
    text-align: left;
}

.high {
    color: #a3b18a;
    font-size: 25px;
    margin-top: 4px;
    text-decoration: underline;
}

#score, #speed {
    width: 20vmin;
    color: #a3b18a;
    text-shadow: -1px -1px 0 #344e41,  
                  1px -1px 0 #344e41,
                 -1px  1px 0 #344e41,
                  1px  1px 0 #344e41;
    margin: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}


/* Botoes */

.buttons{
    background-color: #3a5a40;
    border-top: 8px solid #a3b18a;
    width: 80vmin;
    height: 5vmin;

    display: flex;
    justify-content: space-around;

}

.buttons button{
    font-family: "Rakkas", serif;
    height: 30px;
    display: inline-block;
    padding: 0px 40px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #588157;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background: none;

    color: #a3b18a;
}

.buttons button:hover{
    background-color: #b0c4b1;
    color: white;
}

.buttons button.selected{
    background-color: #f9c74f;
    color: #fff;
}

.extra {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-top: 1px;
    margin-left: 25vmin;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), #588157);
    height: 2vmin;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -1px -1px 2px #ffffff3c;
}

.extra button{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #d84242;
    border: 2px solid #fb4d3d;
    border-radius: 50%;
}
.extra button:hover{
    background-color: red;
    cursor: pointer;
}

#notification{
    position: absolute;
    color: #fb4d3d;
    left: 150px;
    top: 7px;
}

/* volume box */

.box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 4px;
    margin-left: 14px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05), #588157);
    height: 2vmin;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -1px -1px 2px #ffffff3c;
}

.range{
    width: 180px;
    height: 12px;
    appearance: none;
    background: #1b4332;
    outline: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -2px -2px 4px #ffffff3c,
    inset 2px 2px 2px;
    overflow: hidden;
    
}

.range::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #f9c74f;
    box-shadow: -187px 0 0 180px #f9c74f;
    cursor: pointer;
}

#rangeValue {
    position: relative;
    text-align: center;
    width: 60px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin-left: 14px;
    background: #f9c74f;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -2px -2px 4px #ffffff3c, inset 2px 2px 2px rgba(255, 255, 255, 0.25);
}


/* Asthetics */
.container{
    border: 5px solid #344e41;
    border-radius: 48px;

    /* background: rgb(221,232,171);
    background: radial-gradient(circle, rgba(221,232,171,1) 91%, rgba(212,224,155,1) 99%); */
}
.container2{
    border: 10px solid #3a5a40;
    border-radius: 37px;
}
.container3{
    border: 18px solid #588157;
    border-radius: 3%;
}

.console {
    background-color: #3a5a40;
    color: #344e41;
    width: 80vmin;
    height: 14vmin;
    margin-top: -10px;
    z-index: -3;
}

.shadow {
    width: 80vmin;
    height: 20px;
    color: #a3b18a;
    background-color: #344e41;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    margin-left: 1px;
}

.console2{
    background-color: #3a5a40;
    color: #344e41;
    width: 90vmin;
    height: 7vmin;
    margin-top: -50px;
    border-top: 3px solid #588157;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btnele1{
    background-color: #ffa62b;
    width: 14vmin;
    height: 3vmin;
    z-index: -1;
    margin-left: 17%;
    margin-top: -7%;
    border: 4px solid #f9c74f;
    border-radius: 50%;
}

.stick {
    background-color: #ffa62b;
    z-index: -2;
    width: 3vmin;
    height: 5vmin;
    margin-top: 23%;
    margin-left: 36%;
    border-left: 4px solid #f9c74f;
    border-right: 4px solid #f9c74f;
}

.btnele2{
    background-color: #489fb5;
    width: 18vmin;
    height: 7vmin;
    z-index: -1;
    margin-right: 10%;
    margin-top: -30px;
    border: 4px solid #82c0cc;
}

.btnele3{
    background-color: #d84242;
    z-index: -1;
    width: 18vmin;
    height: 7vmin;
    margin-top: -30px;
    margin-right: 20%;
    border: 4px solid #fb4d3d;
}

